* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

ol,
ul,
li {
    list-style: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

img {
    max-width: 100%;
}

a {
    color: white;
    font-size: 12px;
    padding: 0 10px;
}

.white-text {
    color: white;
}

.flex {
    display: flex;
}

.container-flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

body {
    height: 100vh;
    position: relative;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

main.container {
    padding-bottom: 80px;

    .row {
        flex-wrap: wrap;
        margin: 20px 0;
    }
}