.modal__text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    padding: 20px;
    background-color: white;
    width: 100%;
    max-width: 300px;
    text-align: center;
    border: 1px solid black;
  }

  .modal::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
    background-color: rgba(0,0,0,0.5);
  }

  .close-cross {
    position: absolute;
    right: 5px;
    top : 5px;
    cursor: pointer;
  }